@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Karla:ital,wght@1,300&display=swap');

/*------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
a {
    text-decoration: none;
}

/*------------------------------------------------------*/

.head-box {
    min-height: auto;
    background-color: #2844E6;
    background-image: url(../img/top_left.svg),url(../img/top_right.svg),url(../img/top_clound.svg);
    background-position: -15% 100%,112% 98%,50% 100%;
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-size:38%,38%,auto;
    padding-top: 0;
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.head-kids1 {
    width: 70%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}
.nav-bar-menu {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    width: 100%;
    height: 100px;
    align-self: center;
}
.nav-kids {
    align-self: center;
    text-align: center;
    width: 100px;
}
.menu-font {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
}
.nav-bar-side-left {
    width: 200px;
    height: 100px;
    padding-top: 16px;
}
.nav-bar-side-right {
    width: 200px;
    height: 100px;
    padding-top: 25px;
}
.head-kids2 {
    width: 80%;
    height: 60%; 
    display: flex;
    align-self: center;
    flex-direction: column;
}
.head-button-box {
    width: 60%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
    align-self: center;
    padding-top: 50px;
}
.head-text1 {
    font-size: 64px;
    color: white;
    font-family: 'Alfa Slab One', serif;
    text-align: center;
    white-space: pre;
}
.head-text2{
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
}

/*------------------------------------------------------*/

.white-button {
    color: #23272a;
    background-color: #fff;
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    transition: all .2s;
    font-family: 'Karla', sans-serif;
}
.head-button-left {
    color: #23272a;
    background-color: #fff;
    border-radius: 40px;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    transition: all .2s;
    font-family: 'Karla', sans-serif;
}
.head-button-right {
    color: #ffffff;
    background-color: rgb(40,45,48);
    border-radius: 40px;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    transition: all .2s;
    font-family: 'Karla', sans-serif;
}
.ready-downlaod-button {
    color: #ffffff;
    font-family: 'Karla', sans-serif;
    background-color: #5865F2;
    border-radius: 40px;
    padding: 18px 60px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    transition: all .2s;
}

/*------------------------------------------------------*/


.download-bt {
    background: #000;
    color: #fff;
    border-radius: 30px;
    transition: all .25s ease;
}
.download-bt:hover {
    transform: translate(-12px, -12px);
}
.download-bt:hover:after {
    transform: translate(6px, 6px);
}
.download-bt:hover:before {
    transform: translate(12px, 12px);
}
.download-bt::after, .donwload-bt::before {
    content: '';
    position: absolute;
    opacity: .3;
    background: #000;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    transition: all .25s ease;
}

/*------------------------------------------------------*/

.main-content-1 {
    flex-wrap: wrap;
    background-color: white;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}
.main-content-2 {
    flex-wrap: wrap-reverse;
    background-color: rgb(240, 240, 240);
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;

}
.main-content-3 {
    background-color: rgb(240, 240, 240);
    height: 1500px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
}
.sub-1 {
    align-self: center;
    background-color: blue;
    width: 40%;
    height: 500px;
}
.sub-2 {
    align-self: center;
    background-color: rgb(255, 0, 195);
    height: 500px;
    width: 30%;
}
.sub-content-3 {
    background-image: url(../img/star.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
}
.sub-content-3-1 {
    width: 70%;
    height: 100px;
    align-self: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.text1 {
    font-family: 'Karla', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-decoration: none;
}
.text2 {
    font-family: 'Karla', sans-serif;
    font-size: 24px;

}
.text3 {
    font-family: 'Alfa Slab One', serif;
}

/*------------------------------------------------------*/

.main-content-4 {
    background-color: rgb(35,39,42);
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-box-1 {
    height: 80%;
    width: 100%;
    /* background-color: #50224c; */
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.footer-line-blue {
    border-top: 1px solid rgb(88,101,242);
    width: 61%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.language-bar {
    height: 30%;
}
.icon-link {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;

}
.sub-icon-link{
    padding-left: 20px;
    padding-top: 20px;
}
.sub-4-1 {
    width: 400px;
    height: 80%;
}
.sub-4-2 {
    width: 180px;
    height: 80%;
}

.text-sub-4-head {
    padding-left: 20px;
    font-size: 24px;
    font-family: 'Karla', sans-serif;
    color: #2844E6;
    font-weight: bold;
}
.text-sub-4-link {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    color: #ffffff;
}

