@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Karla:ital,wght@1,300&display=swap');

/*------------------------------------------------------*/


* {
    margin: 0;
    padding: 0;
}

/*------------------------------------------------------*/

.head-box {
    background-image: url("../img/bg-headd.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.head-kids1 {
    width: 70%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}
.nav-bar-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    align-self: center;
}
.nav-kids {
    align-self: center;
    text-align: center;
    width: 100px;
}
.menu-font {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Alfa Slab One', serif;
    font-family: 'Karla', sans-serif;
}
.nav-bar-side {
    width: 200px;
    height: 100px;
    align-self: center;
}
.head-kids2 {
    width: 80%;
    height: 60%; 
    align-self: center;
}
.head-text1 {
    font-size: 64px;
    color: white;
    font-family: 'Alfa Slab One', serif;
    text-align: center;
    white-space: pre;
}
.head-text2{
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    text-align: center;
    color: balck;
}

/*------------------------------------------------------*/


.download-bt {
    background: #000;
    color: #fff;
    border-radius: 30px;
    transition: all .25s ease;
}
.download-bt:hover {
    transform: translate(-12px, -12px);
}
.download-bt:hover:after {
    transform: translate(6px, 6px);
}
.download-bt:hover:before {
    transform: translate(12px, 12px);
}
.download-bt::after, .donwload-bt::before {
    content: '';
    position: absolute;
    opacity: .3;
    background: #000;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    transition: all .25s ease;
}

/*------------------------------------------------------*/

.main-content-1 {
    background-color: white;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.main-content-2 {
    background-color: rgb(240, 240, 240);
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;

}
.main-content-3 {
    background-color: rgb(240, 240, 240);
    height: 1300px;
    width: 100%;
    justify-content: center;
}
.main-content-4 {
    background-color: rgb(35,39,42);
    height: 600px;
    width: 100%;
    justify-content: center;
}

.sub-1 {
    align-self: center;
    /* background-color: blue; */
    width: 40%;
    height: 500px;
}
.sub-2 {
    align-self: center;
    /* background-color: rgb(255, 0, 195); */
    height: 350px;
    width: 30%;
}

.text1 {
    font-family: 'Karla', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-decoration: none;
}
.text2 {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
}
.text3 {
    font-family: 'Alfa Slab One', serif;
}

/*------------------------------------------------------*/
















/*     
    Lazmin_1100
    Lazmin_11 
    0966753621  */

